<header id="header">

    <div class="hero">
        <h1>Biblioteca Digital de Chiautla</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non iusto amet adipisci ab deleniti.
        </p>
        <a class="btn" href="#">Empezar lectura</a>
        <a [routerLink]="['/home']" fragment="section1"><i class='bx bx-chevrons-down bx-fade-down'></i></a>
        
        <!-- this.router.navigate(['/results'], { fragment: 'top' }); -->

    </div>

</header>

<main>

    <section id="section1" class="centrado">

        <h3 class="titulo">Mision</h3>
        <p class="parrafo">
            La biblioteca digital de chiaulta asume como misión fundamental (transcendiendo, para ello, el propio ámbito
            de
            acción que es el digital), coadyuvar en el acercamiento eficaz de la información y el conocimiento a la
            comunidad
            a la cual pertenece; procurando siempre que dicho acercamiento se encuentre comprometido con un desarrollo
            humano
            sostenible, buscando atender, de esta manera, la aprehensión y aplicación de una responsabilidad social
            progresista denotada, ésta por un profundo carácter humanista.
        </p>
        <h3 class="titulo">Vision</h3>
        <p class="parrafo">
            En la biblioteca digital chiaulta (BDCh) entendemos que una labor bibliotecaria salida, responsable, unida,
            solidaria, laboriosa, transparente, equitativa, imparcial, eficiente, honesta no discriminante, cooperativa
            y
            rendidora de cuentas, resulta de gran ayuda para que las sociedades se empoderen responsablemente a través
            del
            conocimiento, la informacion útil y la participacion social.
        </p>

    </section>

    <section id="section2">

        <div class="card">
            <div class="card-img">
                <img src="assets/doctor.jpg" alt="">
            </div>
            <div class="card-textos">
                <h2>Doc. Jose Miguel Aguirre Ruiz </h2>
                <p>Mi misión es trabajar con honestidad, eficacia, austeridad, orden, y legitimidad; así como también
                    defender
                    los derechos jurídicos municipales de mis compañeros integrantes del Honorable Ayuntamiento, con la
                    finalidad
                    de promover la participación de nuestros habitantes y obtener su apoyo para desarrollar un mejor
                    progreso para
                    poder brindar una mejor calidad de vida a nuestros habitantes y fortalecer la identidad de nuestro
                    municipio,
                    Chiautla. </p>
            </div>
        </div>

    </section>
</main>