<div class="slide">
    <div class="control">
        <i class='bx bxs-chevron-left' (click)="atras()"></i>
    </div>
    <div class="slide-img">
        <img [src]="urlImg" alt="">
    </div>
    <div class="control">
        <i class='bx bxs-chevron-right' (click)="siguiente()"></i>
    </div>
</div>

<div class="box-cursos">
    <div>
        <i class='bx bx-medal'></i>
        <h3>Calidad</h3>
        <p>Profesores calificados y grupos pequeños</p>
    </div>
    <div>
        <i class='bx bx-group'></i>
        <h3>Inclusión</h3>
        <p>Los cursos estan creados por niveles</p>
    </div>
    <div>
        <i class='bx bx-calendar-check'></i>
        <h3>Flexibilidad</h3>
        <p>Pueden impartirse en diversos horarios</p>
    </div>
</div>

<div class="curso">
    <div class="curso-descrip">
        <h2>Computación</h2>
        <p>Las tecnologias hoy en dia avanzan de manera considerable, es por eso que las personas tienen que
            familiarizarse con ellas, en este curso aprenderas cosas basicas e intermedias acerca del uso de una
            computadora.</p>
    </div>
    <div class="curso-img">
        <img src="assets/cursos/a.png" alt="">
    </div>
</div>

<div class="curso">
    <div class="curso-descrip">
        <h2>Robotica</h2>
        <p>En este curso aprenderas los principios en circuitos electronicos y tambien seras capaz de programar
            el comportamiento de un robot, gracias al IDE de Arduino, actualmente la robotica esta presente en muchos
            sectores.
        </p>
    </div>
    <div class="curso-img">
        <img src="assets/cursos/f.png" alt="">
    </div>
</div>

<div class="curso">
    <div class="curso-descrip">
        <h2>Inglés</h2>
        <p>El inglés se ha convertido en el idioma más hablado en el mundo. Por
            este motivo miles de personas deciden estudiar inglés como segundo idioma ya que poseer un buen conocimiento
            y entendimiento del inglés solo te traerá ventajas tanto a nivel personal como profesional.</p>
    </div>
    <div class="curso-img">
        <img src="assets/cursos/h.png" alt="">
    </div>
</div>