<div class="instalaciones-content centrado">
    <div class="instalaciones-card">
        <img src="assets/instalaciones/salontablet.jfif" alt="">
        <h3>Sala de tablets</h3>
        <p>Cuenta con N tablets, mesas apoyadas de un pizarron. Ademas cuenta con libros</p>
    </div>

    <div class="instalaciones-card">
        <img src="assets/instalaciones/entrada.jfif" alt="">
        <h3>Instalaciones</h3>
        <p>En las mejores condiciones para que las personas realicen sus actividades</p>
    </div>

    <div class="instalaciones-card">
        <img src="assets/instalaciones/salacomputo.jfif" alt="">
        <h3>Salas de computo</h3>
        <p>La biblioteca cuenta con dos salas teniendo un total de N computadoras</p>
    </div>

    <div class="instalaciones-card">
        <img src="assets/instalaciones/salacomputob.jfif" alt="">
        <h3>Demanda</h3>
        <p>Alrededor de N personas usan las instalaciones diariamente</p>
    </div>

    <div class="instalaciones-card">
        <img src="assets/instalaciones/h.png" alt="">
        <h3>Servicios</h3>
        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum</p>
    </div>

    <div class="instalaciones-card">
        <img src="assets/instalaciones/b.png" alt="">
        <h3>Compromiso</h3>
        <p>Las instalaciones son tuyas, ¡Cuidalas!</p>
    </div>

</div>